@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag._Title</title>
    @Styles.Render("~/content/css/bootstrap")
</head>
<body id="site">
    <div class="container">
        <h1>@ViewBag._Title</h1>
        <ul>
            <li><a href="/article">Articles</a></li>
        </ul>
        @RenderBody()
    </div>
</body>
</html>
