@{
    ViewBag._Title = "Frequently Asked Questions";
}
<div>
    <h3>What is a Mentor?</h3>
    <p>
        A mentor is a supporter and someone who will push a child to be their best. 
        They will be the child’s biggest ally and will address concerns they see. 
        They are not a babysitter, bus driver, or mere homework helper; their relationship goes deeper than that.
    </p>

    <h3>What is a Mentee?</h3>
    <p>
        When working with a mentor, the child becomes a mentee.  
        A mentee seeks out learning and friendship from a mentor and upholds commitments they make to their mentor. 
         A mentee does not simply show up at meetings—they are actively involved in building a relationship with their mentor.
    </p>

    <h3>What is the Mayor’s Mentoring Alliance?</h3>
    <p>
        The Mayor's Mentoring Alliance connects Charlotte mentoring organizations for the purpose of promoting best practices through providing workshops,
         resources and standards for quality service delivery. To learn more about the MMA, please visit its <a href="http://charmeck.org/city/charlotte/mayor/MentoringAlliance/Pages/default.aspx">website</a>.
    </p>
</div>