@model dynamic
@{
    ViewBag._Title = "Mentor Charlotte";
}
<div>
    <h4 class="sub-header">Let us help you find an agency!</h4>
</div>




<div style="text-align: center;">
    <img src="~/Content/images/ATLGroup.jpg" />
</div>
