@model Article
@{
    ViewBag._Title = "Edit Article";
}
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>@Html.TextBoxFor(x => x.Title)</td>
        </tr>
        <tr>
            <th>Modified</th>
            <td>@Html.TextBoxFor(x => x.Modified)</td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" onclick="window.location='/article'">Cancel</button>
    <button type="submit" class="btn btn-default" name="_action" value="Delete">Delete</button>
}
