@model List<Article>
@{
    ViewBag._Title = "List Articles";
}
<div>
    <p>
        <a class="btn btn-default" href="/article/edit">Create New Article</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <th><a href="/article/edit/@a.Id">Edit</a></th>
                        <td>@a.Id</td>
                        <td>@a.Title</td>
                        <td>@a.Modified</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>