a {
    color: #04514c;
    text-decoration: none !important;
}
    a:hover {
        color: white;
        background-color: #04514c;
    }

div.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #01002c
}

div.navbar-brand > a {
    color: white;
}

li.active > a {
    color: white;
    background-color: #04514c !important;
}
    li:hover {
        background-color: #04514c !important;
    }