
a:hover { text-decoration: underline; }

#title { color:#1E7BE1; font-size:40px; font-weight:bold; letter-spacing:9px; text-transform:uppercase; }

.navbar-inverse {
    background-color: #CE8228;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand {
    margin-top: -10px;
}

.navbar-brand > a {
    background-color: #ce8228;
    display: block;
}

.main { padding-top: 0; }
